.navbar {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
